name: CICD

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
         distribution: temurin
        java-version: 17
